<?xml version='1.0' encoding='utf-8'?>
<widget id="org.trenoncourt.graphmailreader.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>mreader</name>
    <description>Mail reader</description>
    <author email="thibaut.renoncourt@gmail.com" href="http://cordova.io">
    Apache Cordova Team
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="23" />
        <preference name="android-targetSdkVersion" value="24" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <engine name="android" spec="^7.0.0" />
</widget>
